@font-face {
  font-family: 'GilroyLight';
  src: url('./fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'GilroyBold';
  src: url('./fonts/Gilroy-ExtraBold.ttf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf');
}
